<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>315920307126-070gvej6goj56p2f3cs1l9l7h1nb88o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315920307126-070gvej6goj56p2f3cs1l9l7h1nb88o0</string>
	<key>API_KEY</key>
	<string>AIzaSyA7AL8RZ-Hw-iX9K_v59hPWRhKFfYEPmng</string>
	<key>GCM_SENDER_ID</key>
	<string>315920307126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.purplehawk.PerformanceTesting</string>
	<key>PROJECT_ID</key>
	<string>performance-38216</string>
	<key>STORAGE_BUCKET</key>
	<string>performance-38216.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:315920307126:ios:c000bda2daebd569</string>
	<key>DATABASE_URL</key>
	<string>https://performance-38216.firebaseio.com</string>
</dict>
</plist>